<a href="https://colab.research.google.com/github/tapan-1/Test-1/blob/main/dolabtest1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [33]:


from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [34]:
df = pd.read_excel("/content/drive/MyDrive/DO LAB/Even.xlsx")

In [35]:
df.head()

,Employee_Name,Employee_ID,Job_Role,Phone_Number,Email_ID,Total_Work_Hour_per_Month,Salary_per_Month
0,Jane Miller,8797,Developer,3.801881e+09,emily.taylor@example.com,9999.0,NaN
1,Michael Brown,6540,Manager,7.904752e+09,john.brown@test.net,160.0,11200.0
2,Sarah Anderson,2353,Developer,9.463822e+09,sarah.wilson@sample.org,9999.0,-5000.0
3,Chris Johnson,6392,Engineer,8.727628e+09,john.jones@sample.org,160.0,8000.0
4,Laura Smith,1653,Analyst,7.750284e+08,sarah.taylor@test.net,9999.0,NaN

In [37]:
unique_roles = df['Job_Role'].nunique()
print(f'Number of unique job roles: {unique_roles}')

Number of unique job roles: 5

In [53]:

duplicate_employees = original_df[original_df.duplicated(subset=['Employee_ID'], keep=False)]
print("Duplicate Employee Entries:")
print(duplicate_employees)
any_duplicates = not original_df['Employee_ID'].is_unique
print("\nAre there any duplicate employee IDs?", any_duplicates)

Duplicate Employee Entries:
    Employee_Name  Employee_ID        Job_Role  Phone_Number  \
6   Michael Jones         3654         Manager  8.045243e+09
16    Laura Jones         5596         Analyst  6.650995e+09
50     John Jones         1442  Data Scientist  3.139018e+09
56            NaN         3654       Developer  5.844402e+09
72    Jane Wilson         5596         Manager  9.602139e+09
98    Sarah Smith         1442         Analyst  3.294945e+09

                        Email_ID  Total_Work_Hour_per_Month  Salary_per_Month
6     laura.williams@example.com                      160.0           11200.0
16     john.williams@example.com                      200.0           10000.0
50     laura.williams@sample.org                      160.0            8000.0
56          laura.brown@test.net                      -10.0          100000.0
72          jane.miller@test.net                      200.0           12000.0
98  jessica.anderson@example.com                      -10.0            5000.0

Are there any duplicate employee IDs? True

In [51]:

import pandas as pd
import re

original_df = pd.read_excel("/content/drive/MyDrive/DO LAB/Even.xlsx")

negative_salaries = original_df[original_df['Salary_per_Month'] < 0]

if not negative_salaries.empty:
  print("Warning: Negative salaries found:")
  print(negative_salaries)


  original_df.loc[original_df['Salary_per_Month'] < 0, 'Salary_per_Month'] = original_df.loc[original_df['Salary_per_Month'] < 0, 'Salary_per_Month'] * -1  # Makes the negative salaries positive

  print("\nSalaries adjusted (negative values made positive):")
  print(original_df[original_df['Salary_per_Month'] > 0])

else:
  print("No negative salaries found.")

unique_job_roles = original_df['Job_Role'].nunique()
print("\nThe number of unique job roles is:", unique_job_roles)

duplicate_employees = original_df[original_df.duplicated(subset=['Employee_ID'], keep=False)]
print("\nDuplicate Employee Entries:")
print(duplicate_employees)

any_duplicates = not original_df['Employee_ID'].is_unique
print("\nAre there any duplicate employee IDs?", any_duplicates)

Warning: Negative salaries found:
      Employee_Name  Employee_ID        Job_Role  Phone_Number  \
2    Sarah Anderson         2353       Developer  9.463822e+09
8               NaN         5890       Developer  3.155312e+09
12      Laura Davis         6915        Engineer  9.849898e+09
14   Michael Miller         1634  Data Scientist  2.416309e+09
17     John Johnson         8521         Analyst  8.917196e+09
20      Laura Davis         8202             NaN  5.790057e+09
32              NaN         1603        Engineer  4.795532e+09
38     Emily Wilson         9713         Manager  7.156704e+09
41    Jane Williams         7226             NaN  5.351126e+09
48      Chris Jones         9320  Data Scientist  2.767192e+09
60       Jane Jones         6742  Data Scientist  8.355664e+09
62      David Brown         5344  Data Scientist  2.606042e+09
64   Jessica Wilson         6131       Developer  1.805531e+09
70  Michael Johnson         5045         Analyst  8.703092e+09
71    Jane Anderson         8889         Manager  7.736842e+09
81    Jessica Brown         8979        Engineer  3.949648e+09
87    Sarah Johnson         3476             NaN           NaN
89       Jane Jones         7778  Data Scientist           NaN
93    Laura Johnson         2658        Engineer  2.847548e+09
98      Sarah Smith         1442         Analyst  3.294945e+09

                        Email_ID  Total_Work_Hour_per_Month  Salary_per_Month
2        sarah.wilson@sample.org                     9999.0           -5000.0
8         jane.williams@test.net                     9999.0           -5000.0
12       sarah.brown@example.com                        NaN           -5000.0
14        emily.johnson@test.net                     9999.0           -5000.0
17    jessica.miller@example.com                        NaN           -5000.0
20                           NaN                     9999.0           -5000.0
32          emily.jones@test.net                     9999.0           -5000.0
38        jessica.smith@test.net                      -10.0           -5000.0
41        david.johnson@test.net                     9999.0           -5000.0
48       laura.taylor@sample.org                      -10.0           -5000.0
60       james.wilson@sample.org                      -10.0           -5000.0
62                           NaN                     9999.0           -5000.0
64           john.davis@test.net                        NaN           -5000.0
70    michael.miller@example.com                     9999.0           -5000.0
71     michael.smith@example.com                     9999.0           -5000.0
81     sarah.johnson@example.com                      -10.0           -5000.0
87     jessica.wilson@sample.org                     9999.0           -5000.0
89       sarah.brown@example.com                     9999.0           -5000.0
93      james.wilson@example.com                      -10.0           -5000.0
98  jessica.anderson@example.com                      -10.0           -5000.0

Salaries adjusted (negative values made positive):
     Employee_Name  Employee_ID        Job_Role  Phone_Number  \
1    Michael Brown         6540         Manager  7.904752e+09
2   Sarah Anderson         2353       Developer  9.463822e+09
3    Chris Johnson         6392        Engineer  8.727628e+09
6    Michael Jones         3654         Manager  8.045243e+09
7      Sarah Smith         8297  Data Scientist  7.301689e+09
..             ...          ...             ...           ...
94    Laura Taylor         2791       Developer           NaN
95     Emily Smith         5111             NaN  4.463884e+09
96    Sarah Wilson         7388        Engineer  7.455009e+09
97             NaN         3773         Manager  4.515526e+08
98     Sarah Smith         1442         Analyst  3.294945e+09

                        Email_ID  Total_Work_Hour_per_Month  Salary_per_Month
1            john.brown@test.net                      160.0           11200.0
2        sarah.wilson@sample.org                     9999.0            5000.0
3          john.jones@sample.org                      160.0            8000.0
6     laura.williams@example.com                      160.0           11200.0
7            jane.brown@test.net                      200.0           14000.0
..                           ...                        ...               ...
94        emily.brown@sample.org                      180.0           10800.0
95          james.davis@test.net                      -10.0          100000.0
96      john.johnson@example.com                        NaN          100000.0
97       david.miller@sample.org                        NaN          100000.0
98  jessica.anderson@example.com                      -10.0            5000.0

[80 rows x 7 columns]

The number of unique job roles is: 5

Duplicate Employee Entries:
    Employee_Name  Employee_ID        Job_Role  Phone_Number  \
6   Michael Jones         3654         Manager  8.045243e+09
16    Laura Jones         5596         Analyst  6.650995e+09
50     John Jones         1442  Data Scientist  3.139018e+09
56            NaN         3654       Developer  5.844402e+09
72    Jane Wilson         5596         Manager  9.602139e+09
98    Sarah Smith         1442         Analyst  3.294945e+09

                        Email_ID  Total_Work_Hour_per_Month  Salary_per_Month
6     laura.williams@example.com                      160.0           11200.0
16     john.williams@example.com                      200.0           10000.0
50     laura.williams@sample.org                      160.0            8000.0
56          laura.brown@test.net                      -10.0          100000.0
72          jane.miller@test.net                      200.0           12000.0
98  jessica.anderson@example.com                      -10.0            5000.0

Are there any duplicate employee IDs? True

In [45]:
import re
import pandas as pd

def clean_phone_number(phone_number):
    if pd.isna(phone_number):
        return None

    cleaned = re.sub(r'\D', '', str(phone_number))

    if cleaned.startswith('0091'):
        cleaned = '+91' + cleaned[4:]
    elif cleaned.startswith('91'):
        cleaned = '+91' + cleaned[2:]
    elif cleaned.startswith('0'):
        cleaned = '+91' + cleaned[1:]
    elif len(cleaned) == 10:
        cleaned = '+91' + cleaned
    elif len(cleaned) > 12:
        return '+' + cleaned

    return cleaned


df = pd.DataFrame({'Phone_Number': ['+91 9876543210', '0091-8765432109', '09876543210', '9876543210', '+1-234-567-8901', None]})
df['Phone_Number'] = df['Phone_Number'].apply(clean_phone_number)

print(df)

    Phone_Number
0  +919876543210
1  +918765432109
2  +919876543210
3  +919876543210
4    12345678901
5           None

In [42]:
df['Hourly_Wage'] = df['Salary_per_Month'] / df['Total_Work_Hour_per_Month']
print(df.head())

   Salary_per_Month  Total_Work_Hour_per_Month  Hourly_Wage
0              3000                        160    18.750000
1              4000                        180    22.222222
2              5000                        160    31.250000