<a href="https://colab.research.google.com/github/tapan-1/Test-1/blob/main/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [8]:
df = pd.read_excel("/content/Even.xlsx") # Assign the result of pd.read_excel to df using the assignment operator (=)

In [10]:
df = pd.DataFrame({
    'Job Role': ['Data Analyst', 'Data Scientist', 'Data Engineer', 'Data Analyst', 'Business Intelligence Analyst']
})

In [11]:
unique_roles = df['Job Role'].nunique()
print(f'Number of unique job roles: {unique_roles}')

Number of unique job roles: 4

In [18]:
data = {
    'Salary_per_Month': [3000, 4000, 5000],  # Example salaries in USD
    'Total_Work_Hour_per_Month': [160, 180, 160]  # Example work hours per month
}

# Create a DataFrame
df = pd.DataFrame(data)

# Calculate Hourly Wage
df['Hourly_Wage'] = df['Salary_per_Month'] / df['Total_Work_Hour_per_Month']